@keyframes bounce{
  0%{
    transform: translateY(15px);
  }
  100%{
    transform: none;
  }
}
.fa{
  pointer-events: none;
}
.fa-clicked{
  @include transform();
}
.buttons{
  margin: 15px auto;
}
.buttons>div{
  // margin-top: 50px;
  display: inline-block;
  cursor: pointer;
  background-color: #000;
  border-radius: 50%;
  padding: .6rem;
  width: 2.4rem;
  height: 2.4rem;
  @include transition();
}
.section1 .buttons>div{
  @include animation(.5s, infinite, alternate, bounce);
}
.section1 .buttons>div:hover{
  animation-play-state: paused;
}