#menuDiv{
  background-color: #111;
  @include transition();
  max-width: 80%;
  margin: 1em auto;
  padding: 10px 0;
  height: 7em;
}
.hidding{
	height: 0 !important;
	@include transform(scaleY(0));
}
#menuDiv>p{
  font-weight: normal;
  font-size: 1em;
}