#menuDiv{
  background-color: #111;
  @include transition();
  max-width: 80%;
  margin: auto;
  padding: 10px 0;
  height: 7rem;
}
.hidding{
	height: 0 !important;
	@include transform(scaleY(0));
}
#menuDiv>p{
  font-weight: normal;
  font-size: 1rem;
}