@charset "UTF-8";//if using the original character (like — or “) in 'content' property, it's neccessary to put @charset in this file. Otherwise the sass compiler will print wrong characters.
#quoteBox{
  z-index: 2;
  background-color: $color-bg;
  @include transition();
}
.quote{
  font-size: 1.5em;
  margin: 0 auto;
  max-width: 33em;
}
.quote:before{
  content: "\201C";
  font-size: 1.8em;
  line-height: .5em;
}
.author{
  letter-spacing: 0.2em;
}
.author:before{
  content: "\2014";
}