/* Extra small devices (portrait phones, less than 576px)*/
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  min-width: 100%;
  min-height: 100%;
  background: url('../img/bg-milky-way.jpg') center center no-repeat;
  font-family: 'Catamaran', sans-serif;
  font-weight: 100;
  color: #FFF;
}
.container{
  min-height: calc(100vh - 93px);
/*  height: calc(100vh - 93px);*/
  margin: 0 auto;
  background-color: rgba(0,0,0,.5);
  padding: 10px 0 0;
}
/* Tweet Button--------------- */
#shareQuote{
  text-align: right;
}
#shareQuote span{
  cursor: pointer;
  padding: 10px;
  margin-right: 30px;
}
#shareQuote span:after{
  content: "Tweet it!";

}
#tweetBtn{
  cursor: pointer;
  fill: #FFF;
  display: inline;
  transition: ease .5s;
}

/* Quote & Author--------------- */
#quoteBox{
  /*min-height: auto;*/
  padding: 30px;
}
.quote {
  font-size: 2em;
  margin: 0;
}
.quote:before {
  transfrom: translateX(50%);
}
.quote:before {
  content: "“";
}
.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 1em;
}
.source:before {
  content: "—";
}
/* Get Quote Button--------------- */
#loadQuote{
  background: rgba(0,0,0,.5);
  width: 100%;
  padding: 30px 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: ease 1s;
}
#loadQuote span:after{
  content:" \2192";
  transition: ease 1s;
  font-size: 0px;
  line-height: inherit;
  color: transparent;
  /*display: none;*/
}
#loadQuote:hover{
  background-color: rgba(0,0,0,.8);
}
#loadQuote:hover span:after{
  transform: translateX(10px);
  color: #FFF;
  font-size: inherit;
  /*display: inline;*/
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .container{
    width: 50%;
    min-height: auto;
    margin-top: 20px;
  }
  #loadQuote{
    width: 50%;
    margin: 0 auto;
  }
  #shareQuote span:after{
    color: transparent;
    transition: ease 1s;
    margin-left: -60px;
  }
  #shareQuote span:hover #tweetBtn{
    fill: #1976D2;
  }
  #shareQuote span:hover:after{
    display: inline;
    color: inherit;
    margin-left: 0px;
  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
