html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

::-webkit-scrollbar {
  display: none; }

body {
  min-width: 100%;
  min-height: 100%;
  background-color: #212121;
  font-family: "Catamaran", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 100;
  color: #FFF;
  overflow: hidden; }

#bodyWrapper {
  overflow: hidden; }

a:visited {
  color: #FFF; }

.container {
  margin: 0 auto;
  padding: 0 30px;
  text-align: center; }

.section1 {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.section2 {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.gradientSticky {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, 0.9) 100%), url("") center center no-repeat;
  /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 175, 189, 1)), color-stop(59%, rgba(255, 187, 172, 1)), color-stop(100%, rgba(255, 195, 160, 1))), url('') center center no-repeat;*/
  background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, 0.9) 100%), url("") center center no-repeat;
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, 0.9) 100%), url("") center center no-repeat; }

.section1 > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px; }

@keyframes bounce {
  0% {
    transform: translateY(15px); }
  100% {
    transform: none; } }
.fa {
  pointer-events: none; }

.fa-refresh {
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  -ms-transition: inherit;
  transition: inherit; }

.clicked {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); }

.buttons {
  margin: 15px auto; }

.buttons > div {
  display: inline-block;
  cursor: pointer;
  background-color: #000;
  border-radius: 50%;
  padding: .6rem;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.section1 .buttons > div {
  -webkit-animation: 0.5s infinite alternate bounce;
  -moz-animation: 0.5s infinite alternate bounce;
  -o-animation: 0.5s infinite alternate bounce;
  animation: 0.5s infinite alternate bounce; }

.section1 .buttons > div:hover {
  animation-play-state: paused; }

#menuDiv {
  background-color: #111;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
  max-width: 80%;
  margin: auto;
  padding: 10px 0;
  height: 7rem; }

.hidding {
  height: 0 !important;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0); }

#menuDiv > p {
  font-weight: normal;
  font-size: 1rem; }

#quoteBox {
  z-index: 2;
  background-color: #212121;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.quote {
  font-size: 2rem;
  margin: 0; }

.quote:before {
  content: "\201C";
  font-size: 50px; }

.author {
  letter-spacing: 0.2rem; }

.author:before {
  content: "\2014"; }

.section1, .section2 {
  height: 100vh; }

.section1 {
  display: flex;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=style.css.map */
